# npm 依赖（TsProj 等任意层级）
node_modules/
Library/
Packages/

# Visual Studio / IDE
.vs/
.vsconfig

# Unity 生成文件
Logs/
Temp/
obj/
ProjectSettings/
UserSettings/

# C# 工程与解决方案（Unity 自动生成）
*.csproj
*.sln
